[Unit]
Description=Postfix container
Requires=docker.service dovecot.service thalariond.service
After=docker.service dovecot.service thalariond.service

[Service]
TimeoutStartSec=0
Restart=always
RestartSec=10s
ExecStartPre=-/bin/docker stop postfix
ExecStartPre=-/bin/docker rm postfix
ExecStartPre=-/bin/docker pull thalarion/postfix
ExecStart=/data/postfix/run.sh

[Install]
WantedBy=multi-user.target

